:root{
    --color_blanco: #ffffff;
    --color_oscuro: #212121;
    
    --color_verde: #00ff66;
    --color_amarillo: #ffcc00;
    --color_rojo: #ff3333;
    
    --fuente: "Oswald", sans-serif;
    --textoAnchoL: lighter;
    --textoAnchoBdr: bolder;
}


html{
    font-size: 62.5%;
}

body{
    background-color: var(--color_oscuro);
    font-size: 1.6rem;
    font-family: var(--fuente);
    color: var(--color_blanco);
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
    padding: 5px;
}

h1.titulo_semaforo{
    color: var(--color_blanco);
    font-size: 3.8rem;
    font-weight: var(--textoAnchoL);
}

h2.titulo_contador{
    color: var(--color_blanco);
    font-size: 3.8rem;
    font-weight: var(--textoAnchoL);
}

.contenedor_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0;
}

.semaforo_cuerpo{
    background-color: #000000;
    border: 4px #5e5d5d;
    border-radius: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.luz{
   width: 8rem;
   height: 8rem;
   border-radius: 50%;
   opacity: 0.2;
   transition: opacity 0.3s ease, box-shadow 0.3s ease; 
}

.luz.rojo{background-color: var(--color_rojo);}
.luz.amarillo{background-color: var(--color_amarillo);}
.luz.verde{background-color: var(--color_verde);}

.luz.encendido{
    opacity: 1;
}

.luz.rojo.encendido{box-shadow: 0 0 25px var(--color_rojo);}
.luz.amarillo.encendido{box-shadow: 0 0 25px var(--color_amarillo);}
.luz.verde.encendido{box-shadow: 0 0 25px var(--color_verde);}

.bloque_botones{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.btn{
   font-family: var(--fuente); 
   font-size: 1.6rem;
   cursor:pointer;
   color: var(--color_blanco);
   text-transform: uppercase;
   transition: transform 0.1s ease;
   border-radius: 1rem;
   padding: 2rem;
   margin: 2rem;
}

.btn:active {
    transform: scale(0.95);
}

.btn_inicio { background-color: var(--color_secundario); }
.btn_detener { background-color: var(--color_terceario); }
.btn_verde { background-color: #008833; }
.btn_amarillo { background-color: #b88600; }
.btn_rojo { background-color: #aa0000; }

.contador_general{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    color: var(--color_blanco);
}

.contador{
    background-color: #000000;
    border: 1px #000000;
    border-radius: 1rem;
    padding: 1rem 2.5rem;
}

.contador_verde h3 { color: var(--color_verde); }
.contador_amarillo h3 { color: var(--color_amarillo); }
.contador_rojo h3 { color: var(--color_rojo); }