body{
    background-image: url("../source/bayo3.jpg");
}
.titulo{
    font-family: 'Bayonetta Regular';
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 0 #ffffff;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

h1{
    color: rgb(132, 23, 98);
}
h2{
    color: rgb(46, 55, 120);
}
h3{
    color: rgb(132, 23, 30);
}
form{
    text-align: center;
}

